.Logo{
	display: block;
	margin-left: auto; 
	margin-right: auto; 
	width: 30%;
}

.SearchBar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

.SearchButton{
        display: inline-block;
        margin-left: 33%;
        margin-right: auto;
        width: 10%;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	padding: 5% 5%;
	border-radius: 0px;
	font-family: Georgia, serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	background-color: rgb(240, 240, 240);
/*	border: 2px solid rgb(69, 69, 69);*/
}

.LuckyButton{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        color: #000000;
        font-size: 16px;
        line-height: 16px;
        padding: 5% 5%;
        border-radius: 0px;
        font-family: Georgia, serif;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        background-color: rgb(240, 240, 240);
        display: inline-block
/*      border: 2px solid rgb(69, 69, 69);*/
}


/*sources: 
htmlcheatsheet.com
*/
